.container {
    margin: 50px auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #111;
}

.show,
.movie {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #555;
}

.show img,
.movie img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #777;
}

.show h2,
.movie h2 {
    margin-top: 10px;
    font-size: 24px;
}

.show p,
.movie p {
    font-size: 18px;
    line-height: 1.5;
}

.show {
    background-color: #f3f3f3;
}

.movie {
    background-color: #f3f3f3;
}

.show img:hover,
.movie img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #999;
    color: blue;
}

.switch {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.switch button {
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #555;
  cursor: pointer;
}

.switch button.active {
  background-color: #999;
  color: #000;
}

.switch button:hover {
  color: #000;
  background-color: #999;
}